@font-face {
    font-family: 'dejavu';
    src: url('../fonts/dejavusansmono.eot');
    src: url('../fonts/dejavusansmono.eot?#iefix') format('embedded-opentype'), url('../fonts/dejavusansmono.woff') format('woff'), url('../fonts/dejavusansmono.ttf') format('truetype'), url('../fonts/dejavusansmono.svg#dejavu_sans_monobook') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fixedsys_excelsior';
    src: url('../fonts/fsex300.eot');
    src: url('fsex300.eot?#iefix') format('embedded-opentype'), url('../fonts/fsex300.woff') format('woff'), url('../fonts/fsex300.ttf') format('truetype'), url('../fonts/fsex300.svg#fixedsys_excelsior') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #7B4F37;
    color: #fef4cc;
    width: 610px;
    margin: 0 auto;
}

#container {
     //background-color: #5b6c80;
}

#header {
    height: 220px;
    //background-color: darkgray;
}

img#logo {
    float: left;
    width: 150px;
    height: 150px;
    margin: 20px 28px 20px -2px;
}

img#name_app {
    float: left;
    width: 434px;
    height: 90px;
    margin-top: 39px;
}

#header p {
    float: left;
    font-family: dejavu;
    font-size: 16px;
    letter-spacing: 0.02em;
    margin: 5px 0 0 3px;
}

#content {
    overflow: auto;
    height: 100%;
    border: 2px solid #ff7800;
    background-color: #0a6b6d;
    border-radius: 8px;
    font-family: fixedsys_excelsior;
    font-size: 22px;
}

#sol1{
    //background-color:cadetblue;
}

#sol1,
#sol2,
#sol3,
#sol4 {
    padding: 10px 10px 60px 10px;
}

#sol1 img.menu,
#sol2 img.menu,
#sol3 img.menu,
#sol4 img.menu {
    float: right;
    margin: 4px 3px 0 0;
    display: none;
}

#sol1:hover,
#sol2:hover,
#sol3:hover,
#sol4:hover {
    background-color: #025c5f;
}

ul li{
    display:inline-block;
    padding-top: 5px;
    float: left;
}

ul li img[alt="php icon"]{
    padding-top: 8px;
    padding-left: 2px;
}

ul li img[alt="mysql icon"]{
    padding-left: 4px;
    padding-top: 4px;

}

#feature,
#footer {
    padding: 10px;
    margin: 10px;
}

#footer {
    font-family: dejavu;
    text-align: center;
}
