@font-face {
    /*font-family: 'titan';
    src: url('../fonts/titanone-regular.eot');
    src: url('../fonts/titanone-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/titanone-regular.woff') format('woff'), url('../fonts/titanone-regular.ttf') format('truetype'), url('../fonts/titanone-regular.svg#webfont') format('svg');*/
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #7B4F37;
    color: #fef4cc;
    width: 640px;
    margin: 0 auto;
}

#container {
    //background-color: #5b6c80;
}

#header {
    height: 250px;
}

img#logo {
    float: left;
    width: 150px;
    height: 150px;
    margin: 20px 20px 20px -2px;
}

img#name_app {
    float: left;
    width: 440px;
    height: 90px;
    margin-top: 39px;
}

#header p {
    float: left;
    font-family: 'DejaVu Sans Mono';
    font-size: 16px;
    //text-align: justify;
    margin-left: 3px;
}

#content {
    overflow: auto;
    height: 100%;
    border: 2px solid #ff7800;
    background-color: #0a6b6d;
    border-radius: 8px;
}

#feature,
#footer {
    padding: 10px;
    margin: 10px;
}

#footer {
    text-align: center;
}

.column1,
.column2,
.column3 {
    //background-color: #efefef;
    width: 190px;
    float: left;
    margin: 10px;
}
