* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #7B4F37;
    color: #fef4cc;
    width: 610px;
    margin: 0 auto;
}

header {
    height: 242px;
}

img#logo {
    display: block;
    width: 200px;
    height: 200px;
    margin: 0px auto;
}

img#name_app {
    display: block;
    width: 217px;
    height: 45px;
    margin: 0px auto;
    margin-top: 10px;
}

header p {
    font-family: dejavu;
    font-size: 16px;
    letter-spacing: 0.02em;
    margin: 5px 0 0 3px;
}

#content {
    margin-top: 25px;
}

.show {
    overflow: auto;
    height: 100%;
    border: 2px solid #ff7800;
    background-color: #0a6b6d;
    border-radius: 8px;
    font-family: fixedsys_excelsior;
    font-size: 1em;
    margin-top: 40px;
    padding: 15px;
}

input {
    color: #333129;
    font-family: dejavu;
    font-size: 1.8em;
    background-color: #fef4cc;
    display: block;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 320px;
    padding: 8px 5px 5px;
    border: none;
    border-style color;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    box-shadow: inset 0px 3px 3px -1px rgba(0, 0, 0, .8);
    -webkit-box-shadow: inset 0px 3px 3px -1px rgba(0, 0, 0, .8);
    -moz-box-shadow: inset 0px 3px 3px -1px rgba(0, 0, 0, .8);
    -webkit-box-shadow: inset 0px 3px 3px -1px rgba(0, 0, 0, .8);
    margin: 20px auto;
    border-bottom: 2px solid #b19789;
    text-align: center;
    width: 240px;
}

input#date {
    letter-spacing: -.1em;
}

input#nums {
    letter-spacing: -.05em;
}

input[type=submit] {
    box-shadow: none;
    color: #fef4cc;
    background-color: #0a6b6d;
    border: 2px solid #ff7800;
    border-radius: 8px;
    font-family: dejavu;
    font-size: 1.8em;
    margin: 0 auto;
}

footer {
    padding: 10px;
    margin: 10px;
    font-family: dejavu;
    text-align: center;
}
