* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #7B4F37;
    color: #fef4cc;
    width: 610px;
    margin: 0 auto;
}

header {
    height: 242px;
}

img#logo {
    display: block;
    width: 200px;
    height: 200px;
    margin: 0px auto;
}

img#name_app {
    display: block;
    width: 217px;
    height: 45px;
    margin: 0px auto;
    margin-top: 10px;
}

header p {
    font-family: dejavu;
    font-size: 16px;
    letter-spacing: 0.02em;
    margin: 5px 0 0 3px;
}

#content {
    margin-top: 25px;
}

#show_data {
    overflow: auto;
    height: 100%;
    min-height: 196px;
    border: 2px solid #ff7800;
    background-color: #0a6b6d;
    border-radius: 8px;
    font-family: fixedsys_excelsior;
    font-size: 1.4em;
    padding: 13px;
    text-align: center;
    margin-top: 30px;
}

#show_data img {
    height: 160px;
    width: 160px;
    display: block;
    margin: 0px auto;
    padding-top: 18px;
}

input {
    color: #333129;
    font-family: dejavu;
    font-size: 1.8em;
    background-color: #fef4cc;
    display: block;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 320px;
    padding: 8px 5px 5px;
    border: none;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    box-shadow: inset 0px 3px 3px -1px rgba(0, 0, 0, .8);
    -webkit-box-shadow: inset 0px 3px 3px -1px rgba(0, 0, 0, .8);
    -moz-box-shadow: inset 0px 3px 3px -1px rgba(0, 0, 0, .8);
    -webkit-box-shadow: inset 0px 3px 3px -1px rgba(0, 0, 0, .8);
    margin: 13px auto;
    border-bottom: 2px solid #b19789;
    text-align: center;
    width: 240px;
}

input#date {
    letter-spacing: -.1em;
}

input#nums {
    letter-spacing: -.05em;
}

input:invalid {
    background-color: #f97171;
}

input:valid,
input.before_input {
    background-color: #fef4cc;
}

input[type=submit] {
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #333129;
    background-color: #ffc800;
    border: 2px solid #333129;
    border-radius: 8px;
    font-family: dejavu;
    font-size: 1.8em;
}

#rec:hover {
    background-color: #025c5f;
    border-radius: 5px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: color 9999s ease-out, background-color 9999s ease-out;
    transition-delay: 9999s;
    -webkit-transition: color 9999s ease-out, background-color 9999s ease-out;
    -webkit-transition-delay: 9999s;
}

footer {
    padding: 10px;
    margin: 10px;
    font-family: dejavu;
    text-align: center;
}