@font-face {
    font-family: 'dejavu';
    src: url('../fonts/dejavusansmono.eot');
    src: url('../fonts/dejavusansmono.eot?#iefix') format('embedded-opentype'), url('../fonts/dejavusansmono.woff') format('woff'), url('../fonts/dejavusansmono.ttf') format('truetype'), url('../fonts/dejavusansmono.svg#dejavu_sans_monobook') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fixedsys_excelsior';
    src: url('../fonts/fsex300.eot');
    src: url('fsex300.eot?#iefix') format('embedded-opentype'), url('../fonts/fsex300.woff') format('woff'), url('../fonts/fsex300.ttf') format('truetype'), url('../fonts/fsex300.svg#fixedsys_excelsior') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #146ea6;
    color: #cae5f4;
    width: 610px;
    margin: 0 auto;
}

#container {
    /*    background-color: #5b6c80;*/
}

#header {
    height: 220px;
}

img#logo {
    float: left;
    width: 150px;
    height: 150px;
    margin: 20px 28px 20px -2px;
}

img#name_app {
    float: left;
    width: 434px;
    height: 90px;
    margin-top: 39px;
}

#header p {
    float: left;
    font-family: dejavu;
    font-size: 16px;
    letter-spacing: 0.02em;
    margin: 5px 0 0 3px;
}

#content {
    overflow: auto;
    height: 100%;
    //width: 600px;
    border: 2px solid #368edb;
    background-color: #536373;
    border-radius: 8px;
    margin-top: 20px;
    font-family: fixedsys_excelsior;
    font-size: 22px;
}

#sol1,
#sol2,
#sol3,
#sol4 {
    padding: 10px 10px 60px 10px;
}

#sol1 img,
#sol2 img,
#sol3 img,
#sol4 img {
    float: right;
    margin: 4px 3px 0 0;
    display: none;
}

#sol1:hover,
#sol2:hover,
#sol3:hover,
#sol4:hover {
    background-color: #44586d;
}

#feature,
#footer {
    padding: 10px;
    margin: 10px;
}

#footer {
    font-family: dejavu;
    text-align: center;
}
